name: Riemann Clojure Client testing

on:
  push:
  workflow_dispatch:

jobs:
  test:
    strategy:
      matrix:
        java: ["8", "11", "13", "15", "16", "17"]
      fail-fast: false
    name: Java ${{ matrix.Java }}

    runs-on: ubuntu-latest

    env:
      JVM_OPTS: -Xmx3200m

    steps:
      - uses: actions/checkout@v5
      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: "zulu"
          java-version: ${{ matrix.java }}
      - name: Install protobuf
        run: |
          cd /tmp
          wget https://github.com/google/protobuf/releases/download/v3.16.1/protoc-3.16.1-linux-x86_64.zip
          unzip protoc-3.16.1-linux-x86_64.zip
          mv /tmp/bin/protoc /usr/local/bin/
          protoc --version
      - name: Install deps
        run: mvn -DskipTests clean install dependency:resolve-plugins dependency:go-offline
      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ matrix.java }}-maven-${{ hashFiles('**/pom.xml') }}
      - name: Run tests
        run: mvn package
      - name: Upload Test Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: Test Results (Java ${{ matrix.java }})
          path: "**/target/surefire-reports/"

  publish-test-results:
    name: "Publish Tests Results"
    needs: test
    runs-on: ubuntu-latest
    permissions:
      checks: write
      pull-requests: write
    if: always()

    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v5
        with:
          path: artifacts

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v1
        with:
          files: "artifacts/**/*.xml"
